@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">


    <div class="row">
        <div class=" col-md-12">
            <div ng-view></div>

        </div>
    </div>

    <script type="text/ng-template" id="MenuView.htm">

        <div class="well panel-transparan">
            <div id="bestSellers" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#bestSellers" data-slide-to="0" class="active"></li>
                    <li data-target="#bestSellers" data-slide-to="1"></li>
                    <li data-target="#bestSellers" data-slide-to="2"></li>
                    <li data-target="#bestSellers" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img width="100%" src="/images/14051574-Wedding-Planning-and-Your-Big-Event-Planner-List-Stock-Photo.jpg" />
                        <div class="carousel-caption">Product 1</div>
                    </div>
                    <div class="item">
                        <img width="100%" src="/images/342a87e9cf2b8023f8c63ad28af6c91b.jpg" />
                        <div class="carousel-caption">Product 2</div>
                    </div>

                    <div class="item">
                        <img width="100%" src="/images/bigstock-Background-concept-wordcloud-i-100739318-1.jpg" />
                        <div class="carousel-caption">Product 3</div>
                    </div>
                    <div class="item">
                        <img width="100%" src="/images/HB-Image.jpg" />
                        <div class="carousel-caption">Product 4</div>
                    </div>
                </div>
                <a class="left carousel-control" href="#bestSellers" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#bestSellers" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
        <div class="col-md-12" ng-init="Init()">
            <div class="col-md-2">
                <div class="panel panel-transparan">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Kategori
                        </h3>
                    </div>
                    <div class="panel-body">
                        <ul class="nav nav-tabs nav-stacked nav-pills" ng-repeat="item in Categories">
                            <li><a ng-click="FilterLayanan(item)">{{item.Nama}}</a></li>

                        </ul>
                    </div>

                </div>

            </div>
            <div class="col-md-10">
                <div class="col-md-6" ng-repeat="item in ListLayanan |filter : {IdKategori:FilterValue}">
                    <div class="thumbnail panel-transparan">
                        <div class="well-sm panel-transparan">
                            <img width="100%" height="150px" alt="Photo" src="data:image/png;base64,{{item.Photo}}" />
                        </div>
                            <div class="caption">
                                <h3>
                                    {{item.Nama}}
                                </h3>
                                <p>
                                    {{item.Keterangan}}

                                </p>
                                <p>
                                    @if (Request.IsAuthenticated && User.IsInRole("Customer"))
                                    {
                                        <a ng-click="AddToChart(item)" class="btn btn-primary glyphicon glyphicon-shopping-cart pull-right">Keranjang</a>

                                    }
                                     <button class="btn btn-default" href="#modalShowCompany" role="button" data-toggle="modal" ng-click="ShowCompanyDetail(item.Perusahaan)">{{item.Perusahaan.Nama}}</button>
                   
                                </p>
                            </div>

                            <div class="panel-group" id="panel-1">
                                <div class="panel panel-default  panel-transparan">
                                    <div class="panel-body col-sm-12">
                                        <table class="table">

                                            <tbody>
                                                <tr>
                                                    <td>
                                                        Harga
                                                    </td>
                                                    <td align="right">
                                                        Rp.{{item.Harga}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Unit
                                                    </td>
                                                    <td>
                                                        {{item.Unit}}
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                                        Biaya Pengantaran/Pengiriman
                                                    </td>
                                                    <td align="right">
                                                        Rp.{{item.HargaPengiriman}}
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        <div class="modal fade" id="modalShowCompany" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×
                        </button>
                        <h4 class="modal-title">
                            Data Pengusaha
                        </h4>
                    </div>
                    <div class="modal-body ">
                        <dl class="dl-horizontal">
                            <dt>
                                Nama Perusahaan
                            </dt>

                            <dd>
                                {{ItemDetail.Nama}}
                            </dd>

                            <dt>
                                Nama Pemilik
                            </dt>

                            <dd>
                                {{ItemDetail.Pemilik}}
                            </dd>

                            <dt>
                                Telepon
                            </dt>

                            <dd>
                                {{ItemDetail.Telepon}}
                            </dd>

                            <dt>
                                Email
                            </dt>

                            <dd>
                                {{ItemDetail.Email}}
                            </dd>

                            <dt>
                                Alamat
                            </dt>

                            <dd>
                                {{ItemDetail.Alamat}}
                            </dd>

                            <dt>
                                Tanggal Mendaftar
                            </dt>

                            <dd>
                                {{ItemDetail.Tanggal}}
                            </dd>

                        </dl>


                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Keluar
                        </button>
                    </div>
                </div>

            </div>

        </div>


    </script>

    <script type="text/ng-template" id="CartView.htm">
        <div class="col-md-12" ng-init="Init()">
            <h2 class="row">Keranjang Pesanan</h2>
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                           
                            <th>
                                Nama
                            </th>
                            <th>
                                Harga
                            </th>
                            <th>
                                Jumlah
                            </th>
                            <th>
                                Biaya
                            </th>
                            <th>
                                Biaya Pengantaran
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="default " ng-repeat="item in ListLayanan">
                            <td>
                                {{item.Nama}}
                            </td>
                            <td>
                                Rp. {{item.Harga|number}}
                            </td>
                            <td>
                                {{item.Jumlah}}
                            </td>
                            <td>
                                Rp. {{item.Biaya|number}}
                            </td>
                           
                            <td>
                                Rp. {{item.HargaPengiriman|number}}
                            </td>
                            <td>
                                <button class="btn btn-danger glyphicon glyphicon-remove" ng-click="RemoveItem(item)"></button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Total :
                            </td>
                            <td>
                                Rp. {{Total | number}}
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <a ng-show="ShowEventButton" href="#Event" class="btn btn-primary">Lanjutkan Pesanan</a>
        </div>

    </script>

    <script type="text/ng-template" id="EventView.htm">
        <div class="col-md-12" ng-init="Init()">
            <h2 class="row">Data Acara</h2>
            <form role="form" ng-submit="NewOrder(layanan)">
                <div class="form-group">
                    <input ng-model="layanan.TanggalAcara" placeholder="Tanggal Acara" onfocus="(this.type='datetime-local')" onblur="(this.type='text')" type="text" class="textbox-n form-control" id="dateevent" required />
                </div>

                <div class="form-group">
                    <textarea placeholder="Alamat Acara" ng-model="layanan.Alamat" class="form-control" id="description1" required></textarea>
                </div>
                <div class="form-group">
                    <textarea placeholder="Keterangan" ng-model="layanan.Catatan" class="form-control" id="description1" required></textarea>
                </div>

                <div class="form-group">

                    <div>
                        Setuju
                        <input type="checkbox" placeholder="setuju" class="form-control" id="aktif" ng-model="layanan.Aktif" required>
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" ng-click="">Pesan Sekarang</button>
                </div>
            </form>
        </div>
    </script>


    <script type="text/ng-template" id="PaymentView.htm">
        <div class="row">
            <h2>Konfirmasi Pemabayaran</h2>
            <div class="row col-md-4 ">
                <div id="custom-search-input" class="input-group">
                    <input type="text" ng-model="SearchModel" class="form-control" placeholder="Masukkan Code Pemesanan" />
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="button" ng-click="Search(SearchModel)">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>

        </div>
        <div class="row" ng-show="IsShow">
            <h3>Hasil Pencarian</h3>
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Unit
                            </th>
                            <th>
                                Nama
                            </th>
                            <th>
                                Harga
                            </th>
                            <th>
                                Biaya Pengantaran
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="default" ng-repeat="item in ListLayanan">
                            <td>
                                {{item.Unit}}
                            </td>
                            <td>
                                {{item.Nama}}
                            </td>
                            <td>
                                Rp. {{item.Harga|number}}
                            </td>
                            <td>
                                Rp. {{item.HargaPengiriman|number}}
                            </td>
                            <td>
                                <button class="btn btn-danger glyphicon glyphicon-remove" ng-click="RemoveItem(item)"></button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Total :
                            </td>
                            <td>
                                Rp. {{Total | number}}
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" ng-show="ShowForm">
            <div class="form-group alert alert-warning">
                <h1>STATUS PEMBAYARAN : BELUM DIBAYAR</h1>
                <h5>Silahkan Melakukan Pembayaran dan Konfirmasi Pembayaran Anda Pada form di Bawah</h5>
            </div>
            <form role="form" ng-submit="Upload()">
                <div class="form-group">
                    <input ng-model="model.Bank" placeholder="Nama Bank" type="text" class="form-control" required />
                </div>
                <div class="form-group">
                    <input ng-model="model.NamaPengirim" placeholder="Nama Pengirim" type="text" class="form-control" required />
                </div>

                <div class="form-group">
                    <textarea placeholder="Pesan" ng-model="model.Pesan" class="form-control" id="description1"></textarea>
                </div>

                <div class="form-group">
                    <input type="file" placeholder="Bukti Pembayaran" accept="image/*" class="form-control" id="file" />
                </div>


                <div class="form-group">
                    <div class="col-sm-4">
                        <input type="submit" class="form-control" id="submit" value="Submit">
                    </div>
                </div>

            </form>

        </div>
        <div class="row" ng-show="IsWaiting">
            <div class="form-group alert alert-info">
                <h1>STATUS PEMBAYARAN : MENUNGGU VERIFIKASI</h1>
                <h5>Terimah Kasih Telah Melakukan Pembayaran Kami Akan Segera Memverikasi Pembayaran Anda </h5>
            </div>
        </div>
        <div class="row" ng-show="IsLunas">
            <div class="form-group alert alert-success">
                <h1>STATUS PEMBAYARAN : LUNAS</h1>
                <h5>Terimah Kasih Telah Melakukan Pembayaran </h5>
            </div>
        </div>
        <div class="row" ng-show="IsBatal">
            <div class="form-group alert alert-danger">
                <h1>STATUS PEMBAYARAN : BATAL</h1>
                <h5>Pesanan Anda Telah Dibatalkan, Lakukan Pemesanan Kembali</h5>
            </div>
        </div>
    </script>


    <script type="text/ng-template" id="InboxView.htm">
        <div class="container-fluid" ng-init="Init()">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">
                                Inbox
                            </h1>

                        </div>
                        <div class="panel-body">
                            <div ng-repeat="item in Inbox">
                                <div class="col-md-12" ng-show="item.Terbaca">
                                    <div class="col-md-4">
                                        {{item.Judul}}
                                    </div>
                                    <div class="col-md-3">
                                        {{item.Pengirim}}
                                    </div>
                                    <div class="col-md-3">
                                        {{item.Tanggal}}
                                    </div>
                                    <div class="col-md-2">
                                        <button id="modal-488721" href="#modal-container-488721" ng-click="ShowMessage(item)" role="button" class="btn" data-toggle="modal">View </button>
                                    </div>
                                </div>
                                <div class="col-md-12" ng-show="!item.Terbaca" style="font-weight:bold">
                                    <div class="col-md-4">
                                        {{item.Judul}}
                                    </div>
                                    <div class="col-md-3">
                                        {{item.Pengirim}}
                                    </div>
                                    <div class="col-md-3">
                                        {{item.Tanggal}}
                                    </div>
                                    <div class="col-md-2">
                                        <button id="modal-488721" href="#modal-container-488721" ng-click="ShowMessage(item)" role="button" class="btn" data-toggle="modal">View </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="panel-footer">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modal-container-488721" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">

                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                ×
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                From : {{SelectedMessage.Pengirim}}

                            </h4>
                        </div>
                        <div class="modal-body">
                            {{SelectedMessage.Pesan}}
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Close
                            </button>
                            <div class="pull-left"><h5>{{SelectedMessage.Tanggal}}</h5></div>

                        </div>
                    </div>

                </div>

            </div>



        </div>





    </script>

</div>
